.manachoice{
  .Ul-mana {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    flex-direction: row;
  }
  
  .mana{  
    border-radius: 20px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;

    img {
      display: block;
      margin: auto;
      height: 100px;
      margin-bottom: 10px;
    } 

    &:hover{
      background: lightgray;
    }
  }

  @media screen and (min-width: 768px) {
    .mana {
      height: 10%;
      width: 25%;
    }
  }
  
  @media screen and (min-width: 600px) and (max-width: 768px) {
    .mana {
      height: 10%;
      width: 50%;
    }
  }
  
    @media screen and (max-width: 600px) {
      .mana {
        height: 10%;
        width: 100%;
      }
  }

  }