body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Ul-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
  flex-direction: row;
}

@media screen and (min-width: 768px) {
  .card {
    height: 10%;
    width: 25%;
  }
}

@media screen and (min-width: 600px) and (max-width: 768px) {
  .card {
    height: 10%;
    width: 50%;
  }
}

  @media screen and (max-width: 600px) {
    .card {
      height: 10%;
      width: 100%;
    }
}

